* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .4s ease;
}

.sidebar h1 {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 26px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
}

ul li .navbar::hover {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

input #check {
    float: right;
    margin: 50px;
    opacity: 0.4;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    right: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .4s;
}

label #cancel {
    z-index: 1111;
    right: -195px;
    top: 33px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .4s ease;
}

#check:checked ~ .sidebar {
    right: 0px;
}

#check:checked ~ label #btn {
    right: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    right: 195px;
}